---
import ControlFaunaSection from "../components/sections/control-fauna-section.astro"
import Layout from "../layouts/Layout.astro"
---
<!-- 
<li>
<a href="#fauna-aeronautica">Fauna aeronáutica</a>
</li>
<li>
<a href="#instalaciones-energeticas">Instalaciones energéticas</a>
</li>
<li>
<a href="#instalaciones-agricolas-y-cultivos">Instalaciones agrícolas y cultivos</a>
</li>
<li>
<a href="#urbanizaciones">Urbanizaciones</a>
</li>
<li>
<a href="#comunidades">Comunidades</a>
</li>
<li>
<a href="#">Edificios e Instalaciones públicas</a>
</li>-->

<Layout>
  <div class="p-10 max-w-400 mx-auto space-y-50">
    <ControlFaunaSection id="fauna-aeronautica" title="Control de fauna aeronáutica con cetrería" subtitle="Una solución segura y efectiva" 
    paragraphs={['En nuestro apartado dedicado al control de fauna aeronáutica, destacamos la eficacia de la cetrería como método seguro y respetuoso con el medio ambiente para mitigar los riesgos asociados con la presencia de aves en áreas aeroportuarias.', 'Los cetreros entrenados y sus aves rapaces desempeñan un papel crucial en la disuasión y dispersión de especies de aves que representan un peligro potencial para la seguridad de las operaciones aéreas. A través de técnicas de vuelo controlado y presencia visual, las aves de presa pueden disuadir a las aves silvestres de congregarse en zonas críticas del aeropuerto, reduciendo así el riesgo de colisiones con aeronaves.', 'Nuestros cetreros emplean métodos no letales para ahuyentar aves, evitando daños innecesarios a la fauna local. Además, colaboramos estrechamente con las autoridades aeroportuarias y los equipos de gestión de fauna para desarrollar estrategias adaptadas a las necesidades específicas de cada aeródromo.']} 
    images={['https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/jumbo-jet-flying-sky-1-1-1.png', 'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-23.webp', 'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-30-1.webp']} 
    rightImage={true} />

    <ControlFaunaSection id="instalaciones-energeticas" title="Instalaciones energéticas" subtitle="Una solución segura y efectiva"
    paragraphs={['En nuestro apartado dedicado al control de fauna aeronáutica, destacamos la eficacia de la cetrería como método seguro y respetuoso con el medio ambiente para mitigar los riesgos asociados con la presencia de aves en áreas aeroportuarias.', 'Los cetreros entrenados y sus aves rapaces desempeñan un papel crucial en la disuasión y dispersión de especies de aves que representan un peligro potencial para la seguridad de las operaciones aéreas. A través de técnicas de vuelo controlado y presencia visual, las aves de presa pueden disuadir a las aves silvestres de congregarse en zonas críticas del aeropuerto, reduciendo así el riesgo de colisiones con aeronaves.', 'Nuestros cetreros emplean métodos no letales para ahuyentar aves, evitando daños innecesarios a la fauna local. Además, colaboramos estrechamente con las autoridades aeroportuarias y los equipos de gestión de fauna para desarrollar estrategias adaptadas a las necesidades específicas de cada aeródromo.']} 
    images={['https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/04/instalaciones-energeticas.webp', 'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-59-1.webp', 'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-61-1.webp']}
    rightImage={false} />
  
    <ControlFaunaSection id="instalaciones-agricolas-y-cultivos" title="Instalaciones agrícolas y cultivos" subtitle="Una solución segura y efectiva"
    paragraphs={[
      'En nuestro apartado dedicado al control de fauna aeronáutica, destacamos la eficacia de la cetrería como método seguro y respetuoso con el medio ambiente para mitigar los riesgos asociados con la presencia de aves en áreas aeroportuarias.',
      'Los cetreros entrenados y sus aves rapaces desempeñan un papel crucial en la disuasión y dispersión de especies de aves que representan un peligro potencial para la seguridad de las operaciones aéreas. A través de técnicas de vuelo controlado y presencia visual, las aves de presa pueden disuadir a las aves silvestres de congregarse en zonas críticas del aeropuerto, reduciendo así el riesgo de colisiones con aeronaves.',
      'Nuestros cetreros emplean métodos no letales para ahuyentar aves, evitando daños innecesarios a la fauna local. Además, colaboramos estrechamente con las autoridades aeroportuarias y los equipos de gestión de fauna para desarrollar estrategias adaptadas a las necesidades específicas de cada aeródromo.'
    ]}
    images={[
      'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/04/Instalaciones-agricolas-y-cultivos.webp',
      'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/landing-lights-1-1.png',
      'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/planes-runway-modern-airport-1.png',
    ]}
    rightImage={true} />

    <ControlFaunaSection id="urbanizaciones" title="Urbanizaciones" subtitle="Una solución segura y efectiva"
    paragraphs={[
      'En nuestro apartado dedicado al control de fauna aeronáutica, destacamos la eficacia de la cetrería como método seguro y respetuoso con el medio ambiente para mitigar los riesgos asociados con la presencia de aves en áreas aeroportuarias.',
      'Los cetreros entrenados y sus aves rapaces desempeñan un papel crucial en la disuasión y dispersión de especies de aves que representan un peligro potencial para la seguridad de las operaciones aéreas. A través de técnicas de vuelo controlado y presencia visual, las aves de presa pueden disuadir a las aves silvestres de congregarse en zonas críticas del aeropuerto, reduciendo así el riesgo de colisiones con aeronaves.',
      'Nuestros cetreros emplean métodos no letales para ahuyentar aves, evitando daños innecesarios a la fauna local. Además, colaboramos estrechamente con las autoridades aeroportuarias y los equipos de gestión de fauna para desarrollar estrategias adaptadas a las necesidades específicas de cada aeródromo.',
    ]}
    images={[
      'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/04/Urbanizaciones.webp',
      'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/landing-lights-1-1.png',
      'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/03/planes-runway-modern-airport-1.png'
    ]}
    rightImage={false} />

    <ControlFaunaSection id="comunidades" title="Comunidades" subtitle="Una solución segura y efectiva"
    paragraphs={[
      'En nuestro apartado dedicado al control de fauna aeronáutica, destacamos la eficacia de la cetrería como método seguro y respetuoso con el medio ambiente para mitigar los riesgos asociados con la presencia de aves en áreas aeroportuarias.',
      'Los cetreros entrenados y sus aves rapaces desempeñan un papel crucial en la disuasión y dispersión de especies de aves que representan un peligro potencial para la seguridad de las operaciones aéreas. A través de técnicas de vuelo controlado y presencia visual, las aves de presa pueden disuadir a las aves silvestres de congregarse en zonas críticas del aeropuerto, reduciendo así el riesgo de colisiones con aeronaves.',
      'Nuestros cetreros emplean métodos no letales para ahuyentar aves, evitando daños innecesarios a la fauna local. Además, colaboramos estrechamente con las autoridades aeroportuarias y los equipos de gestión de fauna para desarrollar estrategias adaptadas a las necesidades específicas de cada aeródromo.'
    ]}
    images={[
      'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/04/Proyecto-nuevo.webp',
      'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-66.webp',
      'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-68.webp'
    ]}
    rightImage={true} />

    <ControlFaunaSection id="edificios-e-instalaciones-publicas" title="Edificios e instalaciones públicas" subtitle="Una solución segura y efectiva"
    paragraphs={[
      'En nuestro apartado dedicado al control de fauna aeronáutica, destacamos la eficacia de la cetrería como método seguro y respetuoso con el medio ambiente para mitigar los riesgos asociados con la presencia de aves en áreas aeroportuarias.',
      'Los cetreros entrenados y sus aves rapaces desempeñan un papel crucial en la disuasión y dispersión de especies de aves que representan un peligro potencial para la seguridad de las operaciones aéreas. A través de técnicas de vuelo controlado y presencia visual, las aves de presa pueden disuadir a las aves silvestres de congregarse en zonas críticas del aeropuerto, reduciendo así el riesgo de colisiones con aeronaves.',
      'Nuestros cetreros emplean métodos no letales para ahuyentar aves, evitando daños innecesarios a la fauna local. Además, colaboramos estrechamente con las autoridades aeroportuarias y los equipos de gestión de fauna para desarrollar estrategias adaptadas a las necesidades específicas de cada aeródromo.'
    ]}
    images={[
      'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/04/Proyecto-nuevo-1.webp',
      'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-46.webp',
      'https://controlfaunaaeroportuaria.es/wp-content/uploads/2024/06/IMG-15.webp'
    ]}
    rightImage={false} />
    </div>
</Layout>
